*{
    margin: 0;
    padding: 0;

}
html,body{
    height: 100%;
    width: 100%;
    color: white;
}
@font-face {
    font-family:two;
    src: url(./Fonts/font2.woff2);
}
@font-face {
    font-family:three;
    src: url(./Fonts/font3.woff2);
}
@font-face {
    font-family:five;
    src: url(./Fonts/font5.woff2);
}


// nav
// nav
main{


// page 1
// page 1

// page 2
// page 2

// page 3
// page 3

// page 4
// page 4

// page 5
// page 5

// page 6
// page 6

    .page7 {
        display: flex;
        min-height: 100vh;
        width: 100%;
        background-color: black;
        .box {
            padding-left:5em;
            width: 100%;
            display: flex;
            align-items: center;

            .left {

                display: flex;
                flex-direction: column;
                gap: 2em;
                width: 40%;
                h1 {
                   font-family:five;
                    font-size: 1.3em;
                    font-weight: 200;
                }
                p {
                    line-height:1.5;
                    font-size: 1.2em;
                    font-family: two;
                    font-weight: 100;
                }
                .button {
                    .btn {
                        padding: 0.2em 0.8em;
                        border-radius: 3em;
                        font-size: 1em;
                        background-color: black;
                        color: white;
                        border: 2px solid#FF9100;
                        font-weight: 800;
                        font-family: two;
                    }
                }
            }
            .right {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60%;
                img {
                    width: 80%;
                }
            }
          
        }
    }
    .page8 {
        width: 100%;
        // min-height: 100vh;
        background-color: black;
        .center {
            font-family:two;
            padding-top: 6em;
            padding-bottom: 10em;
            gap: 2em;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
                font-size: 2.8em;
            }
            p {
                font-size: 1.3em;
                opacity: 0.7;
            }
            .btn {
                .btn1 {
                    color: white;
                    padding: 0.3em 0.9em;
                    font-size: 1.2em;
                    background-color: black;
                    border: 2px solid#FF9100;
                    border-radius: 3em;
                    font-weight: 600;
                }
            }
        }
    }
}
@media (max-width:600px) {
    main{

        .page7{
            .box{
                flex-direction: column;
                padding: 15vh 10vw;
                gap: 5em;
                .left{
                    width: 100%;
                    align-items: center;
                    justify-content: center;

                    h1{
                        font-size: 0.8em;
                        font-family: five;
                    }
                    p{
                        text-align: center;
                        font-size: 1.1em;
                    }
                    .button{
                        .btn{
                            font-size: 1.2em;
                            padding: 0.3em 1em;
                        }
                    }
                }

                .right{
                    width: 100%;

                    img{
                        width: 100%;
                    }
                }
            }
        }

        .page8 {
                display: flex;
                align-items: center;
                justify-content: center;
            .center {
                text-align: center;
                gap: 1em;

                h1{
                    font-size: 2em;
                    font-weight: 100;
                }
                p{
                    width: 70%;
                }
                .btn{
                    margin-top: 1.5em;
                }
               
            }
           
        }

    }
}
// page 8
// page 8


// footer
// footer